# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/generatorlosowychserisow/node_modules
/.pnp
.pnp.js

# testing
*coverage
backend/ManagementSystem/.coverage

# production
/build

# IDE files
*.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
OLD_VIEWS.py

# virtual environment
venv/

# celery schedule
backend/ManagementSystem/celerybeat-schedule

# db
backend/ManagementSystem/db.sqlite3

npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/
*.pyc
.eslintcache
Start.docx
