//Login Page
$background-gradient-1: #888383;
$background-gradient-2: #22221d;
$backgroundlogo-gradient-1: #7fefbd;
$backgroundlogo-gradient-2: #cba135;
$paper-logincolor: #cccccc;
$paper-loginMargin: 16px;
$paper-loginMarginTop: 30px;

//Main Page
